.loginscreen {
    position: relative;
    height: 100%;

    background: url("https://raw.githubusercontent.com/thatanjan/netflix-clone-yt/youtube/media/banner.jpg") center no-repeat;
    background-size: cover;

}

.loginsceen_logo {
    position: fixed;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;

}

.loginscreen_btn {
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    border: none;
    cursor: pointer;
    border-radius: 4px;

}

.loginscreen__gradient {
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%
    );
}

.loginscreen__body{
    position: absolute;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
    color: #FFF;
    padding: 20px;
    left: 0;
    right: 0;

}

.loginscreen__body > h1{
    font-size: 3.125rem;
    margin-bottom: 20px;
}
.portLink{
    color: white;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid white;
    padding: 6px;
    border-radius: 7px;
    margin: 0 , 8px;


}

.portLink:hover{
    transition: all 0.3s;
    color: black;
    background-color: white;
}

.loginscreen__body > h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.loginscreen__body > h3{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.loginscreen_input > form > input{
    transition: cubic-bezier(0.5, 0, 0.1, 1);
    line-height: 1.5rem;
    padding: 10px;
    height: 30px;
    width: 30%;
    max-width: 600px;
    border-radius: 0.3em;
    border: 0 solid transparent;
}

.login_getstarted{
    padding: 16px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: #FFF;
    background-color: #E50914;
    border-radius: 0.3em;
    border: none;
    cursor: pointer;
}

.loginscreen_input{
    margin: 20px;
}

@media(max-width:400px){
    .loginscreen__body > h2{
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 30px;
    }
    .loginscreen_input > form{
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
    }
    .loginscreen_input > form > input{
        width: 92%;
    }
}