.profilescreen {
    height: 100vh;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilescreen__body {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* margin-left: auto; 
    margin-right: auto; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 8%;
    max-width: 800px;
}

.profilescreen__body>h1 {
    font-size: 60px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 2px;
}

.profilescreen__info {
    display: flex;
}

.profilescreen__info>img {
    height: 100px;
}

.profilescreen__details {
    color: white;
    margin-left: 25px;
    flex: 1;
}

.profilescreen__details>h2 {
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
}

.profilescreen__signout {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    color: #fff;
    background-color: #E50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.profilescreen__signout:hover {
    background-color: #a40a12;
    transition: all 0.3s;
}

.profilescreen__plans {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem
}

.profilescreen__plans>h2 {
    margin: 0.5rem;
}

.plans {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem
}

.planrow {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.planrow>button {
    right: 0;
    padding: 5px 10px;
    font-size: 1rem;
    margin-top: 5%;
    width: 12rem;
    border-radius: 10px;
    color: #fff;
    background-color: #E50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.planrow>button:hover {
    background-color: #a40a12;
    transition: all 0.3s;
}

@media(max-width:450px) {
    .profilescreen__body {
        width: 90%;
    }

    .profilescreen__info>img {
        height: 30px;
        display: none;
    }
}